<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="100% free indie games">
    @Styles.Render("~/Content/gameStyle") 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
</head>
<body>
    <section class="hero">
        <div class="color"></div>
        <div class="title animated bounceInDown">
            <a href="@Url.Action("Index", "Home")" title="Home Page"><img alt="GameSlam" src="@Url.Content("~/Assets/Images/logo.png")"></a>
            <h3>100% free indie games</h3>
        </div>

        @Html.Partial("_LoginPartial")
    </section>
    @RenderBody()
    <section>
        <p>&copy; @DateTime.Now.Year - Amar, Bonnie and Chris Application</p>
    </section>
 
    @RenderSection("scripts", required: false)
</body>
</html>
