@model List<GameSlam.Core.Models.GameDetailSmall>
@{
    ViewBag.Title = "GameSlam";
}

<div class="wrapper search">
    <input type="text" name="name" value="" placeholder="Search for games">
</div>

<section class="wrapper games"> 
    <div class="grid"> 
        @foreach (var x in @Model)
        {        
            <a href="@Url.Action("Details", "Game", new { id = @x.Id })" title="@x.Title"><div><img src="@x.Screenshot" alt="@x.Title" class="game" ></div></a>
        }
    </div>
</section>

<section class="wrapper footer">
    <h3>100% free indie games</h3>
</section>