@using GameSlam.Core.Constants
@using GameSlam.Core.Enums
@model  GameSlam.Core.Models.GameDetailComplete

@{
    ViewBag.RequestID = this.ViewContext.RouteData.Values["id"]; //RouteData.Values["id"];
    ViewBag.Title = "GameSlam - View Game for ID = " + ViewBag.RequestID;
    bool isAdminUser = User.IsInRole(AppConstants.AdminRoleName);
}

<div class="wrapper description">
    @if (Model.GameInfo.StatusId == (int)ApprovalStatusEnum.PendingApproval)
    {
        <p style="text-align: center; color:crimson; font-weight: 300; font-size:150%">Game Is Under Review!</p>
    }
    else if (Model.GameInfo.StatusId == (int)ApprovalStatusEnum.Declined)
    {
        <p style="text-align: center; color:crimson; font-weight: 300; font-size:150%">Game was Declined.</p>
    }
    <h3> @Html.Raw(Model.GameInfo.Title)</h3>
    <p>@Model.GameInfo.Description</p>
</div>

<div class="wrapper description">
    <h3>SCREENSHOTS</h3>
    <section class="wrapper games">
        <div>
            @for (var i = 0; i < Model.GameFilesInfo.Screenshots.Count; i++)
                {
                    if ((isAdminUser) || (Model.GameInfo.StatusId == (int)ApprovalStatusEnum.Approved))
                    {
                        var item = Model.GameFilesInfo.Screenshots[i];
                        var modalName = "myModal"+i;
                        var imgName = "myImg"+i;
                        var imgNameNew = "img"+i;
                        var imageCaption = "caption" + i;

                        <img id="@imgName" src="@item.FileUrl" alt="Screenshot #@i" class="gameImg">
                        <!-- The Modal -->
                        <div id="@modalName" class="modal">

                            <!-- The Close Button -->
                            <span class="closeimg" onclick="document.getElementById('@modalName').style.display='none'">&times;</span>

                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="@imgNameNew">

                            <!-- Modal Caption (Image Text) -->
                            <div id="@imageCaption" class="caption"></div>
                        </div>
                }
                else
                {
                    <a class="game" href=""><div><h3>Screenshot #@i</h3></div></a>
                }
            }
        </div>
    </section>
</div>



<div class="wrapper description">
    <h3>DOWNLOADS</h3>

    @if (@Model.GameFilesInfo.windowsProgramFile != null)
    {
        <div class="upload">
            @if ((isAdminUser) || (Model.GameInfo.StatusId == (int)ApprovalStatusEnum.Approved))
            {
                <a href="@Model.GameFilesInfo.windowsProgramFile.FileUrl">Download for Windows</a>
            }
            else
            {
                <a href="#">Download for Windows</a>
            }
        </div>
    }


    @if (@Model.GameFilesInfo.linuxProgramFile != null)
    {
        <div class="upload">
            @if ((isAdminUser) || (Model.GameInfo.StatusId == (int)ApprovalStatusEnum.Approved))
            {
                <a href="@Model.GameFilesInfo.linuxProgramFile.FileUrl">Download for Linux</a>
            }
            else
            {
                <a href="#">Download for Linux</a>
            }
        </div>
    }

    @if (@Model.GameFilesInfo.osxProgramFile != null)
    {
        <div class="upload">
            @if ((isAdminUser) || (Model.GameInfo.StatusId == (int)ApprovalStatusEnum.Approved))
            {
                <a href="@Model.GameFilesInfo.osxProgramFile.FileUrl">Download for OS X</a>
            }
            else
            {
                <a href="#">Download for OS X</a>
            }
        </div>
    }
</div>


@Html.Partial("_AdminApproveCondition")

<section class="wrapper footer">
    <h3>100% free indie games</h3>
</section>

