@using GameSlam.Core.Models
@using GameSlam.Core.Enums
@model  GameSlam.Core.Models.GameDetailComplete

@{
    ViewBag.RequestID = this.ViewContext.RouteData.Values["id"]; //RouteData.Values["id"];
    ViewBag.Title = "GameSlam - View Game for ID = " + ViewBag.RequestID;
}

<div class="wrapper description">
    @if (Model.GameInfo.StatusId == (int)ApprovalStatusEnum.PendingApproval)
    {
        <p style="text-align: center; color:crimson; font-weight: 300">Game Is Under Review!</p>
    }
    <h3> @Html.Raw(Model.GameInfo.Title)</h3>
    <p>@Model.GameInfo.Description</p>
</div>

     <div class="wrapper description">
        <h3>SCREENSHOTS</h3>
        <section class="wrapper games">
            <div class="grid">
                @for (var i = 0; i < Model.GameFilesInfo.Screenshots.Count; i++)
                {
                    if (Model.GameInfo.StatusId == (int)ApprovalStatusEnum.Approved)
                    {
                        var item = Model.GameFilesInfo.Screenshots[i];
                        <a class="game" href="@item.FileUrl"><div><h3>Screenshot #@i</h3></div></a>
                    }
                    else
                    {
                        <a class="game" href=""><div><h3>Screenshot #@i</h3></div></a>
                    }
                }
            </div>
        </section>
    </div>



    <div class="wrapper description">
        <h3>DOWNLOADS</h3>

        <div class="upload">
            @if ((Model.GameInfo.StatusId == (int)ApprovalStatusEnum.Approved) &&
                (@Model.GameFilesInfo.windowsProgramFile != null))
            {

                <a href="@Model.GameFilesInfo.windowsProgramFile.FileUrl">Download for Windows</a>
            }
            else
            {
                <a href="#">Download for Windows</a>
            }
        </div>

        <div class="upload">
            @if ((Model.GameInfo.StatusId == (int)ApprovalStatusEnum.Approved) &&
            (@Model.GameFilesInfo.linuxProgramFile != null))
            {
                <a href="@Model.GameFilesInfo.linuxProgramFile.FileUrl">Download for Linux</a>
            }
            else
            {
                <a href="#">Download for Linux</a>
            }
        </div>

        <div class="upload">
            @if ((Model.GameInfo.StatusId == (int)ApprovalStatusEnum.Approved) &&
            (@Model.GameFilesInfo.osxProgramFile != null))
            {
                <a href="@Model.GameFilesInfo.osxProgramFile.FileUrl">Download for OS X</a>
            }
            else
            {
                <a href="#">Download for OS X</a>
            }

        </div>

    </div>

    <section class="wrapper footer">
        <h3>100% free indie games</h3>
    </section>

