@model List<GameSlam.Core.Models.GameDetailSmall>
@{
    ViewBag.Title = "GameSlam - pending Approval";
}

<div class="wrapper search">
    <input type="text" name="name" value="" placeholder="Search for games">
</div>

<section class="wrapper games">
    <div class="grid">
        @foreach (var x in @Model)
        {                                                                                                                                
            <a class="game" title="@x.Title" href="@Url.Action("Details", "Game", new { id = @x.Id })" style="background-image:url('@x.Screenshot'); background-size:cover; background-repeat: no-repeat;"><div><h3>@x.Title</h3></div></a>
        }
    </div>
</section>

<section class="wrapper footer">
    <h3>100% free indie games</h3>
</section>