@model GameSlam.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "" })
        </div>
    </div>
    <div class="">
        @Html.LabelFor(m => m.Password, new { @class = "" })
        <div class="">
            @Html.PasswordFor(m => m.Password, new { @class = "" })
        </div>
    </div>
    <div class="">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
        <div class="">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "" })
        </div>
    </div>
    <div class="">
        <div class="">
            <input type="submit" class="" value="Register" />
        </div>
    </div>
}

